/* body {
    background-color: black;
} */
* {
    box-sizing: border-box;
}
.box {
    height: 50px;
    width: 50px;
    border: 1px solid black;   
}
.main-block {
    width: 800px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
body {
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
